<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>
  <body>
    <!--Navigation Bar-->
    <nav class="navbar sticky-top navbar-expand-md navbar-custom bg-body-tertiary" id="navbar">
      <div class="container-fluid mx-2 my-1">
          <!--Name & Icon-->
          <a class="navbar-brand me-auto w-50" href="#logo">
            <img src="static/images/theLogo.png" class="rounded-circle" style="width:5%;height:5%" alt="Logo" id="navbar-logo">
            greenMeet.
        </a>

          <!--Toggler for Collapsed Navigation Bar-->
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapsed" aria-controls="navbarSupportedContent" aria-expanded="false" id="navbar-toggler-icon">
              <i class="bi bi-list"></i>
          </button>

          <!--Navigation Bar Options-->
          <div class="collapse navbar-collapse order-md-1" id="navbar-collapsed">
              <ul class="navbar-nav ms-auto">
                  <!--Search Bar-->
                  <form class="d-flex" role="search">
                      <input class="form-control ms-auto" type="search" placeholder="City, State" aria-label="Search">
                      <button class="btn btn btn-outline-primary" type="submit">Search</button>
                  </form>
                  <!--Link to Other Pages-->
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin') }}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('search') }}">Contributor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                  </ul>
          </div>
      </div>
    </nav>
    <!--Event manages by Admin-->
    <div class="container py-4">
        {% for item in events %}
        <div class="card mx-auto">
            <div class="d-flex align-items-start">
                <div class="nav flex-column nav-pills me-3" id="pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active" id="description-tab" data-bs-toggle="pill" data-bs-target="#description-pane" type="button" role="tab" aria-selected="true">Description</button>
                    <button class="nav-link" id="addTask-tab" data-bs-toggle="pill" data-bs-target="#addEvent-pane" type="button" role="tab" aria-selected="true">Add Tasks</button>
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                    <!--Even Description-->
                    <div class="tab-pane fade show active" id="description-pane" role="tabpanel"  tabindex="0">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">{{item.Address}}</h6>
                            <p class="card-text">
                                Admin: {{item.Creator}} <br>
                                Status: {{'In Progress' if item.Status == False else 'Completed'}}
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="addEvent-pane" role="tabpanel"  tabindex="0">
                        <!--Adding Task to Event-->
                        <form class="row py-1 g-1 needs-validation" novalidate>
                            <div class="col-12">
                              <label for="validationCustom01" class="form-label">Task Name</label>
                              <input type="text" class="form-control" id="validationCustom01" required>
                              <div class="valid-feedback">Provide a name for the task.</div>
                            </div>
                            <!--Submit taks button-->
                            <div class="col-12">
                              <button class="btn btn-primary" type="submit">Add</button>
                            </div>
                          </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!--Footer-->
    <footer class="container-fluid sticky-bottom bg-body-tertiary" id="footer">
      <div class="row text-center">
        <div class="col-sm-12 mt-4">
          <h6>This Website Was Built Using the Following Tools:</h6>
          <p>
          <i class="bi bi-bootstrap-fill"></i>
          <a class="link-underline link-underline-opacity-0" href="https://getbootstrap.com/" rel="noopener noreferrer" target="_blank">Bootstrap &nbsp;</a>
          <i class="bi bi-github"></i>
          <a class="link-underline link-underline-opacity-0" href="https://github.com/katiewimmer/devfest24" rel="noopener noreferrer" target="_blank">Github &nbsp;</a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>